<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adm.css">
</head>
<body >

<div id="topo">
    <div id="A">

        <img src="/images/A.jpg" width="180px" height="200px">
        <br>
        <br>
    </div>

    <div id="usuario">
        <ul>
            <li>
                <a th:href="@{/aluno/form}">Cadastrar alunos</a>

            </li>
            <li>
                <a th:href="@{/admin/listarAlunos}">Visualizar Alunos</a>

            </li>
            <li>
                <a th:href="@{/turma/form} ">Cadastrar turmas</a>

            </li>
            <li>
                <a th:href="@{/admin/listarTurmas}">Vizualizar Turmas</a>
            </li>

            <li>
                <a th:href="@{/admin/listarInstrutores}">Vizualizar Instrutores</a>
            </li>

            <li>
                <a th:href="@{/piloto/form}">Cadastrar Pilotos</a>
            </li>

            <li>
                <a th:href="@{/admin/listarPilotos}">Visualizar Pilotos</a>
            </li>

            <li>
                <a href="/logout">sair</a>
            </li>
        </ul>

    </div>

</div>

<div class="container-md">
    <form action="/instrutor/salvar" method="POST" th:object="${instrutor}" enctype="multipart/form-data">

        Nome: <input type="text" class="form-control" th:field="*{nome}"> <br>
        Matricula: <input type="text" class="form-control" th:field="*{matricula}">
        Curso:  <input  type="text" class="form-control" th:field="*{curso}">
        Instituição:  <input  type="text" class="form-control" th:field="*{instituicao}">
        Data de Obtenção: <input type="text" class="form-control" placeholder="dd/mm/aaaa" th:field="*{dataObtencao}">
        Senha: <input type="password" class="form-control" th:field="*{usuario.password}">

        <br>

        <input type="submit" class="btn btn-primary" value="Cadastrar">

    </form>
</div>

</body>
</html>