<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<form action="/main/salvar" method="POST" th:object="${aluno}" enctype="multipart/form-data" >
    <input type="hidden" th:field="*{id}">

    Nome: <input type="text" th:field="*{nome}"> <br>
    Matricula: <input type="number" th:field="*{matricula}"> <br>
    Imagem: <input type="file" name="image">
    <br>

    <input type="submit" value="Cadastrar">

</form>

</body>
</html>